
<section>
  <div class="container-flex-bio">
    <div>
      <p>ABOUT OBSIDIAN</p><br>
      <p>The Obsidian theme, like the naturally occurring volcanic glass of the same name, possesses an inherent allure that's stylish in appearance and practical in purpose.With distinctive background options and various customization possibilities,
        Obsidian makes it easy to create ultimate hub for our online identity.</p>
    </div>
    <div>
      <p>VIVIENNE'S OMITTED LINE</p>
      <%= image_tag('album.jpg') %></div>
    <div>
      <p>RECENT POSTS</p>
      <% @articles.each do |a|%>
      <%= a.title %>
      <%end%>
    </div>
  </div>
</section>
