<section>
  <article>
    <div class=".container-flex-tab">
      <h3>UPCOMING GIGS</h3>
    </div>
    <table class=".container-flex-tab">
      <tr>
        <td class="first_cellule">SEP 14
          <span>Nashville, TN</span>
        </td>
        <td class="second_cellule">
          <span>The Bluebird Cafe</span>
        </td>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td class="first_cellule">SEP 16
          <span>Seattle, WA</span>
        </td>
        <td class="second_cellule">
          <span>Tractor Tavern</span>
        </td>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td class="first_cellule">SEP 17
          <span>Alexandrie, VA</span>
        </td>
        <td class="second_cellule">
          <span>The Birchmere</span>
        </td>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td class="first_cellule">SEP 25
          <span>Washington, DC</span>
        </td>
        <td class="second_cellule">
          <span>The Hamilton</span>
        </td>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td class="first_cellule">OCT 30
          <span>Chipping Ongar, Essex</span>
        </td>
        <td class="second_cellule">
          <span>Zinc Arts Centre</span>
        </td>
        <td >&nbsp;</td>
      </tr>
    </table>
    <div class=".container-flex-tab ">
      <h3 class="center">VIEW ALL GIGS</h3>
    </div>
  </article>
</section>
