<section>
  <div class="container-flex-title">
    <h1>VIDEOS</h1>
    <h1>ALL VIDEOS</h1>
  </div>
  <article class="container-flex-video">
<div><%= image_tag("2.jpg")%>
    <p>Like A Rose - Ashley Monroe</p></div>
    <div><%= image_tag("1.jpg") %>
    <p>Big Love - Carrie Rodriguez</p></div>
    <div><%=image_tag ("3.jpg")%>
    <p>Waiting On June - Holly Williams</p></div>
  </tr>
</table>
</article>
</section>
