 <%= render "pages/nav"%>

<section>
  <div class="column">
    <p>VIDEOS</p>
  </div>
  <div class="column"></div>
  <div class="column"><p>ALL VIDEOS</p></div>
</section>




  <section >
    <div class="column_small"><%= image_tag("2.jpg")%>
  <p>Like A Rose - Ashley Monroe</p>
    </div>
    <div class="column_small"><%= image_tag("1.jpg") %>
    <p>Big Love - Carrie Rodriguez</p></div>
    <div class="column_small"><%column_small= image_tag ("3.jpg")%>
    <p>Waiting On June - Holly Williams</p></div>
  </section>
  <section><h3 class="column">UPCOMING GIGS</h3></section>

<section>
  <table class="column">
    <tr>
      <td>SEP 14</td>
      <td>Nashville, TN</td>
    </tr>
    <tr>
      <td>SEP 16</td>
      <td>Seattle, WA</td>
    </tr>
    <tr>
      <td>SEP 17 </td>
      <td>Washington, DC</td>
    </tr>
    <tr>
      <td>OCT 30</td>
      <td>Chipping Ongar, Essex</td>
    </tr>
  </table>

    <table class="column">
      <tr>
        <td>SEP 14</td>
        <td>Nashville, TN</td>
      </tr>
      <tr>
        <td>SEP 16</td>
        <td>Seattle, WA</td>
      </tr>
      <tr>
        <td>SEP 17 </td>
        <td>Washington, DC</td>
      </tr>
      <tr>
        <td>OCT 30</td>
        <td>Chipping Ongar, Essex</td>
      </tr>
    </table>
</section>
<section>
  View all GIGS
</section>
<section>
  <div class="column">
    <p>ABOUT OBSIDIAN</p> lorem
  </div>
  <div class="column album" ><p>VIVIENNE'S OMITTED LINE</p>
  <%= image_tag('album.jpg') %></div>
  <div class="column"><p>RECENT POSTS</p></div>
</section>
