// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// la base du site (font,)
body{
  margin: 0;
color:white;
background: url('background.jpg') repeat fixed;
background-size: cover;
font-family: 'Open Sans', sans-serif;
  }


  // barre de nvigation
.nav{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
    word-spacing: 2.5em;
    font-weight: lighter;
    margin-top: 4em;
}
li{
  list-style-type:none;
  display: inline-flex;
}
a{
  text-decoration: none;

}
// .nav-projet{
//   display:flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: center;
//   align-items: center;
//     margin-top: 2em;
//     font-size: 5em;
//     font-weight: lighter;
// }
// gestions des colonnes
section {
  max-width: 960px;
  margin: 0 auto;
  display: flex;

}
.column {
  margin :0;
  flex-grow: 1;
flex-shrink: 1;
width: 320px;
flex-basis: 0;
}
.column_small {
  margin :0;
  flex-grow: 1;
flex-shrink: 1;
width: 320px;
flex-basis: 0;
}
.column-video>img{
  width: 300px;
  height: 200px;
}
.column_large{
  margin :0;
  flex-grow: 1;
flex-shrink: 1;
width: 960px;
flex-basis: 0;
}
.column_large>h1{

}
